<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>David Lockwood</string>
	<key>Buffer Order</key>
	<array>
		<string>EveKillFunctions</string>
		<string>GetDataFunctions</string>
		<string>ImageFunctions</string>
		<string>invTypes</string>
		<string>KMFilterDrawFunctions</string>
		<string>KMFilterTouchFunctions</string>
		<string>Main</string>
		<string>MainFunctions</string>
		<string>MainFunctionsDrawing</string>
		<string>MainFunctionsTouch</string>
		<string>MainVariables</string>
		<string>mapRegions</string>
		<string>mapSolarSystem</string>
		<string>mapSolarSystemJumps</string>
		<string>Notification</string>
		<string>Round</string>
		<string>SearchBox</string>
		<string>SettingsFunctionsDrawing</string>
		<string>SettingsFunctionTouch</string>
		<string>Split</string>
		<string>XmlParser</string>
	</array>
	<key>Created</key>
	<string>2012-05-06 15:58:58 +0000</string>
	<key>Description</key>
	<string>Eve Online Real-Time Killmail Display</string>
</dict>
</plist>
